/* https://paddle8.com/work/ellsworth-kelly/78782-color-squares-4/ */

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-image:url(https://wallpaperscraft.com/image/forest_trees_fog_110131_1920x1080.jpg);
	background-size:100%;
	display: center
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.box {
	height: 9vw;
	width: 9vw;
	margin: 5px;
}

.dark_green {
	background-color: #228B22;
}

.dark_blue {
	background-color: #191970;
}

.white {
	background-color: #FFF5EE;
}

.green {
	background-color: #6B8E23;
}

.light_green {
	background-color: #008080;
}

.opaque1 {
	background-image: url(images/bill.png);
	background-size: 102%;
}
.opaque2 {
	background-image: url(images/fred.png);
	background-size: 106.5%;
}
.opaque3 {
	background-image: url(images/paul.png);
	background-size: 100%;
}
.opaque4 {
	background-image: url(images/lion.png);
	background-size: 102%;
}
.opaque5 {
	background-image: url(images/mav.png);
	background-size: 100%;
}

@media only screen and (max-width : 800) {
	.box {
	height: 19vw;
	width: 19vw;
	margin: 10px;
	}
	.flex-container{
	display: block;	
	}
}
